@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color:  rgb(232,236,239);
    font-family: 'poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 190px;
    width: 280px;

    background: rgba(243, 246, 247, 0.4);
    box-shadow: 0 1px 20px 0 rgba(16, 16, 16, 0.37);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input {
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: px;
    border: 1px solid black;
    background-color: rgb(232,236,239) ;
}


h2{
    margin: 0;
    margin-bottom: 10px;
}

#password {
    height: 20px;
}

#mostrarSenha {
    width: 110px;
    height: 30px;
    cursor: pointer;
}

